/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {

    background-color: #080911;

    color: #d8d8df;

    font-family: "Rajdhani", sans-serif;

    overflow-x: hidden;

}


/* FUNDO FUTURISTA */

body::before {

    content: "";

    position: fixed;

    width: 500px;
    height: 500px;

    border: 2px solid rgba(0, 208, 255, 0.12);

    border-radius: 45%;

    top: 50px;
    left: -300px;

    filter: blur(4px);

    pointer-events: none;

}


body::after {

    content: "";

    position: fixed;

    width: 600px;
    height: 600px;

    border: 2px solid rgba(0, 208, 255, 0.1);

    border-radius: 50%;

    right: -400px;
    top: 200px;

    filter: blur(5px);

    pointer-events: none;

}


/* CABEÇALHO */

.cabecalho {

    width: 100%;

    max-width: 1200px;

    margin: auto;

    padding: 25px 40px;

    display: flex;

    align-items: center;

    justify-content: space-between;

}


.logo {

    color: #72dfff;

    text-decoration: none;

    font-family: "Orbitron", sans-serif;

    font-size: 24px;

    letter-spacing: 3px;

    text-shadow:

        0 0 8px #00c8ff,

        0 0 20px rgba(0, 200, 255, 0.4);

}


.logo span {

    display: block;

    font-family: "Rajdhani", sans-serif;

    font-size: 8px;

    letter-spacing: 2px;

    text-align: center;

}


.menu {

    display: flex;

    gap: 55px;

}


.menu a {

    color: #bfc0c8;

    text-decoration: none;

    font-size: 14px;

    transition: 0.3s;

}


.menu a:hover {

    color: #5bdcff;

    text-shadow: 0 0 10px #00c8ff;

}


/* PRODUTO PRINCIPAL */

.produto-principal {

    max-width: 1050px;

    min-height: 390px;

    margin: 55px auto;

    padding: 40px 70px;

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 70px;

    background:

        linear-gradient(

            120deg,

            rgba(5, 8, 16, 0.95),

            rgba(10, 13, 22, 0.85)

        );

    border:

        1px solid rgba(106, 223, 255, 0.35);

    border-radius: 20px;

    box-shadow:

        0 0 25px rgba(0, 195, 255, 0.12);

}


.imagem-principal img {

    width: 300px;

    max-height: 320px;

    object-fit: contain;

}


.texto-principal {

    max-width: 430px;

}


h1,
h2 {

    font-family: "Orbitron", sans-serif;

}


.texto-principal h1 {

    color: #5edfff;

    font-size: 27px;

    margin-bottom: 15px;

}


.texto-principal p {

    font-size: 18px;

    line-height: 1.4;

    margin-bottom: 20px;

}


.botao {

    display: inline-block;

    padding: 5px 14px;

    color: #5edfff;

    border: 1px solid #00c8ff;

    border-radius: 20px;

    text-decoration: none;

    transition: 0.3s;

}


.botao:hover {

    background-color: #00c8ff;

    color: #080911;

    box-shadow:

        0 0 20px #00c8ff;

}


/* SOBRE */

.sobre {

    max-width: 920px;

    margin: 100px auto;

    padding: 0 25px;

}


.sobre h2 {

    font-family: "Rajdhani", sans-serif;

    font-size: 28px;

    margin-bottom: 5px;

}


.sobre p {

    font-size: 21px;

    line-height: 1.4;

}


/* PRODUTOS */

.produtos {

    max-width: 950px;

    margin: auto;

}


.produtos h2 {

    text-align: center;

    margin-bottom: 50px;

}


.grade-produtos {

    display: grid;

    grid-template-columns:

        repeat(3, 1fr);

    gap: 35px;

    align-items: center;

}


.card-produto {

    text-align: center;

}


.card-produto img {

    width: 100%;

    height: 290px;

    object-fit: contain;

    border:

        1px solid rgba(81, 218, 255, 0.35);

    border-radius: 18px;

    background-color:

        rgba(5, 7, 13, 0.8);

    box-shadow:

        0 0 20px rgba(0, 208, 255, 0.12);

    transition: 0.4s;

}


.card-produto img:hover {

    transform:

        translateY(-10px)

        scale(1.03);

    box-shadow:

        0 0 35px rgba(0, 208, 255, 0.35);

}


.card-produto h3 {

    color: #58dfff;

    margin-top: 10px;

    font-size: 14px;

}


.chamada-produtos {

    padding: 20px;

}


.chamada-produtos h3 {

    font-size: 24px;

    margin-bottom: 25px;

}


/* DIFERENCIAIS */

.diferenciais {

    max-width: 950px;

    margin: 130px auto;

}


.diferenciais h2 {

    text-align: center;

    margin-bottom: 50px;

}


.grade-diferenciais {

    display: grid;

    grid-template-columns:

        repeat(3, 1fr);

    gap: 25px;

}


.card-diferencial {

    min-height: 130px;

    padding: 20px;

    border:

        1px solid rgba(70, 218, 255, 0.3);

    border-radius: 18px;

    background:

        rgba(7, 9, 16, 0.8);

    box-shadow:

        0 0 20px rgba(0, 208, 255, 0.08);

}


.card-diferencial h3 {

    font-size: 21px;

}


.icone {

    display: block;

    font-size: 30px;

    margin-bottom: 10px;

}


.card-diferencial strong {

    color: #9b70ff;

    font-size: 55px;

}


.card-diferencial span {

    font-size: 22px;

}


.estrelas {

    color: #ffad18;

}


/* CONTATOS */

.contatos {

    max-width: 850px;

    margin: 100px auto;

}


.contatos h2 {

    text-align: center;

    margin-bottom: 50px;

}


.grade-contatos {

    display: grid;

    grid-template-columns:

        repeat(3, 1fr);

    gap: 20px;

}


.card-contato {

    padding: 20px;

    border:

        1px solid rgba(70, 218, 255, 0.3);

    border-radius: 18px;

    box-shadow:

        0 0 20px rgba(0, 208, 255, 0.08);

}


.card-contato p {

    margin-top: 5px;

}


/* RODAPÉ */

footer {

    max-width: 1200px;

    margin: 180px auto 30px;

    padding: 30px 40px;

    display: flex;

    justify-content: space-between;

    align-items: center;

}


.links-rodape {

    display: flex;

    gap: 30px;

}


.links-rodape a {

    color: #999ba5;

    text-decoration: none;

}


footer p {

    color: #777985;

}


/* RESPONSIVIDADE */

@media (max-width: 800px) {

    .cabecalho {

        flex-direction: column;

        gap: 25px;

    }


    .menu {

        gap: 20px;

        flex-wrap: wrap;

        justify-content: center;

    }


    .produto-principal {

        flex-direction: column;

        padding: 40px 25px;

        text-align: center;

    }


    .imagem-principal img {

        width: 250px;

    }


    .grade-produtos {

        grid-template-columns:

            repeat(2, 1fr);

        padding: 20px;

    }


    .grade-diferenciais {

        grid-template-columns:

            repeat(2, 1fr);

        padding: 20px;

    }


    .grade-contatos {

        grid-template-columns:

            1fr;

        padding: 20px;

    }


    footer {

        flex-direction: column;

        gap: 30px;

        text-align: center;

    }

}


@media (max-width: 500px) {

    .menu {

        font-size: 12px;

    }


    .grade-produtos {

        grid-template-columns:

            1fr;

    }


    .grade-diferenciais {

        grid-template-columns:

            1fr;

    }


    .sobre p {

        font-size: 18px;

    }


    .links-rodape {

        flex-wrap: wrap;

        justify-content: center;

    }

}